* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    text-align: center;
    user-select: none;
}

.img1{
    text-align: center;
    margin-top: 60%;
    opacity: 0;
    transition: .7s ease all;
}

.img1 img{
    width: 70%;
}

.title{
    font-size: 30px;
    color: rgb(30, 30, 182);
    margin-top: 30px;
    opacity: 0;
    transition: .7s ease all;
}

.img2{
    margin-top: 50%;
    opacity: 1;
}

.title2{
    margin-top: 0;
    opacity: 1;
}




