* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    text-align: center;
    user-select: none;
    overflow-x: hidden;
}

.loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    text-align: center;
    color: white;
    transition: .5s ease all;
    z-index: 3;
}

.logo{
    width: 70%;
    margin-top: 60%;
    transition: 1s ease all;
    opacity: 0;
}

.logo2{
    margin-top: 50%;
    opacity: 1;
}

.title{
    font-size: 30px;
    color: rgb(30, 30, 182);
    margin-top: 30px;
    opacity: 0;
    transition: .7s ease all;
    text-align: center;
}

.title2{
    margin-top: 0;
    opacity: 1;
}

.header{
    background: rgb(47, 47, 207);
    z-index: 2;
    color: white;
    position: fixed;
    width: 100%;
}

.search{
    padding: 15px 0 15px 20px;
}

.search h1{
    font-size: 20px;
    text-align: left;
}

.fa-magnifying-glass{
    margin-left: 75%;
}

ul li{
    display: inline-block;
    padding: 20px 20px 0 20px;
}

.surat{
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}

.body{
    position: relative;
    transition: .5s ease all;
    opacity: 0;
    top: 130px;
}

.body2{
    display: none;
}

.body3{
    opacity: 1;
}

.body h1{
    text-align: left;
    font-size: 18px;
    padding: 20px 0 0 20px;
    color: rgb(30, 30, 182);
}

#daftar-surah{
    padding: 0 10px 0 10px;
}

#daftar-surah .card{
    border: 1px solid rgb(105, 105, 255);
    border-top: none;
    border-left: none;
    margin: 13px 0;
    padding: 13px 0 0 15px;
    color: rgb(30, 30, 182);
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(109, 109, 255);
}

.card h4{
    font-size: 15px;
}

.card h5{
    font-size: 12px;
    color: rgb(80, 79, 79);
}

.lafaz h4{
    position: relative;
    text-align: right;
    bottom: 30px;
    right: 10px;
}

.selesai{
    margin-left: -600px;
    transition: 2s ease all;
}

.selesai2{
    display: none;
}

@media only screen and (max-width: 560px) 
{
    .fa-magnifying-glass{
        margin-left: 74%;
    }
}

@media only screen and (max-width: 414px) 
{
    .fa-magnifying-glass{
        margin-left: 65%;
    }
}

@media only screen and (max-width: 390px) 
{
    .fa-magnifying-glass{
        margin-left: 63%;
    }
}

@media only screen and (max-width: 375px) 
{
    .fa-magnifying-glass{
        margin-left: 61%;
    }
}

@media only screen and (max-width: 280px) 
{
    .fa-magnifying-glass{
        margin-left: 47%;
    }
}








