* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body{
    text-align: center;
    user-select: none;
    overflow-x: hidden;
}

.ayat{
    position: relative;
    transition: .5s ease all;
    opacity: 0;
}

.body2{
    display: none;
}

.body3{
    opacity: 1;
}

.loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    text-align: center;
    color: white;
    transition: .5s ease all;
    z-index: 3;
}

.logo{
    width: 70%;
    margin-top: 60%;
    transition: 1s ease all;
    opacity: 0;
}

.logo2{
    margin-top: 50%;
    opacity: 1;
}

.title{
    font-size: 30px;
    color: rgb(30, 30, 182);
    margin-top: 30px;
    opacity: 0;
    transition: .7s ease all;
    text-align: center;
}

.title2{
    margin-top: 0;
    opacity: 1;
}

.header{
    background: rgb(47, 47, 207);
    z-index: 2;
    color: white;
    position: fixed;
    width: 100%;
}

.search{
    padding: 15px 15px 15px 10px;
}

.search h1{
    font-size: 20px;
    text-align: left;
}

.search h5{
    text-align: left;
    font-weight: 600;
    position: relative;
    left: 12%;
}

.fa-magnifying-glass{
    margin-left: 75%;
}

.back{
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 30px;
    padding-right: 15px;
}

.juz{
    background: rgb(112, 111, 111);
    color: white;
    padding: 5px 0 10px 5px;
    text-align: left;
    width: 100%;
}

.bismillah{
    padding: 10px 0 15px 5px;
    text-align: center;
    width: 100%;
    top: 80px; 
    background: rgba(0, 0, 0, 0.2);
    font-size: 25px;
    position: relative;
    font-family: sans-serif;
}

.arab2{
    transition: 1s ease all;
}

#ayat{
    top: 90px;
}

.bacaan h2{
    text-align: right;
    padding: 25px 20px 10px 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 33px;
}

.bacaan h3{
    position: relative;
    top: 10px;
}

.bacaan h4{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding: 0 10px 25px 10px;
}

.bacaan h5{
    text-align: left;
    font-weight: 600;
    padding: 0 10px 3px 10px;
    color: rgb(30, 30, 182);
}

.selesai{
    margin-left: -600px;
    transition: 2s ease all;
}

.selesai2{
    display: none;
}
